<% provide(:title, 'Home') %>

<% if signed_in? %>
    <div class="center unit">
      <%= @user.email %>  <%= link_to " Edit", edit_user_registration_path(@user), title: "edit profile" %>

      <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
    </div>

    <% @projects.each do |project| %>
        <div class="center unit">

          <div class="project-header">
            <%= image_tag("table.png", class: "note-img") %>

            <div class="project">
              <%= project.content %>
            </div>
            <%= link_to "#{image_tag("edit_img.png", class: "edit-project")}".html_safe, edit_project_path(project) %>
            <%= link_to "#{image_tag("delete_img.png", class: "delete-project")}".html_safe, project, method: :delete %>
          </div>

        </div>
    <% end %>

    <div class="center">
      <%= link_to "Add TODO list", new_project_path, class: "btn btn-large btn-primary" %>
    </div>

<% else %>
    <div class="center">
      <%= link_to "Sign in", new_user_session_path %>

      <%= link_to "Sign up", new_user_registration_path %>
    </div>

    <div class="center hero-unit">
      <h1>SOME TODO LIST</h1>
      <h3>Ruby Garage</h3>
    </div>

<% end %>