<% provide(:title, 'Home') %>

<% if signed_in? %>
    <div class="center unit">
      <%= @user.email %>  <%= link_to " Edit", edit_user_registration_path(@user), title: "edit profile" %>

      <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
    </div>

    <% @projects.each do |project| %>
        <div class="center unit">

          <div class="project-header">
            <%= image_tag("table.png", class: "note-img") %>

            <div class="project">
              <%= project.content %>
            </div>
            <%= link_to "#{image_tag("edit_img.png", class: "edit-project")}".html_safe, edit_project_path(project) %>
            <div class="line"></div>
            <%= link_to "#{image_tag("delete_img.png", class: "delete-project")}".html_safe, project, method: :delete %>
          </div>

          <%= form_for(:task, url: tasks_path, html: { class: "add-task"}) do |f| %>
              <%= image_tag("Green.png", class: "plus-button")%>
              <%= f.text_field :task_name, placeholder: "Enter the name of the task..." %>
              <%= f.hidden_field :project_id , value: project.id%>
              <%= f.submit "Add Task" %>
          <% end %>

          <ul id="project<%=project.id%>" class="task-list">
            <% project.tasks.each do |task| %>
                <li class="task" id="task_<%= task.id %>">
                  <%= check_box_tag task.id, task.id, task.done, class: "task-check" %>

                  <label for=<%=task.id %> ></label>
                  <p><%= task.task_name %></p>

                  <div class="control-task">
                    <span class="glyphicon glyphicon-move sort-icon"></span>

                    <%= link_to "#{image_tag("task_edit_img.png", class: "edit-task")}".html_safe, edit_task_path(task) %>
                    <div class="twoline"></div>
                    <%= link_to "#{image_tag("task_delete_img.png", class: "delete-task")}".html_safe, task, method: :delete %>
                  </div>
                </li>
            <% end %>
          </ul>

        </div>
    <% end %>

    <div class="center">
      <%= link_to "Add TODO list", new_project_path, class: "btn btn-large btn-primary" %>
    </div>

<% else %>
    <div class="center">
      <%= link_to "Sign in", new_user_session_path %>

      <%= link_to "Sign up", new_user_registration_path %>
    </div>

    <div class="center hero-unit">
      <h1>SOME TODO LIST</h1>
      <h3>Ruby Garage</h3>
    </div>

<% end %>