<%= form_for(@task) do |f| %>

    <%= render 'tasks/error_messages'  %>
  <div class="field">
    <%= f.text_field :task_name %>
  </div>
    <div class="actions pull-right">
      <%= link_to 'Close', root_path, class: "btn btn-default" %>
      <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
<% end %>
